<div class="container mt-1">
    <div class="row">
        <div class="col">
             <!-- heading -->
             <h1>
                <i class="fa-solid fa-eye"></i>
                View Contact Page
            </h1>
            <!-- dummy data -->
            <p style="text-align: justify;">
                This is Dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil eum vero provident. Ipsa provident reiciendis accusamus qui quam magnam cum nobis minima exercitationem. Doloribus quo sapiente quis aliquam molestiae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque ab itaque ratione, quia rem tempore possimus iusto dolorem aliquam et dolore earum sed, debitis corrupti accusantium, dolor necessitatibus? Autem!This is Dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil eum vero provident. Ipsa provident reiciendis accusamus qui quam magnam cum nobis minima exercitationem. Doloribus quo sapiente quis aliquam molestiae! 
            </p>
        </div>
    </div>
</div>

<!-- contact view -->
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <!-- conatct image -->
            <img width="200px" height="200px" class="img-thumbnail fliud" [src]="contact.photo" alt="contact image">

        </div>
        <div class="col-md-6">
            <!-- contact details -->
            <ul class="list-group">
                <li class="list-group-item">Name : <span class="fw-bolder"> {{contact.name}} </span> </li>
                <li class="list-group-item">Email : <span class="fw-bolder"> {{contact.email}} </span> </li>
                <li class="list-group-item">Mobile : <span class="fw-bolder"> {{contact.mobile}} </span> </li>
                <li class="list-group-item">Company : <span class="fw-bolder"> {{contact.company}} </span> </li>
                <li class="list-group-item">Title : <span class="fw-bolder"> {{contact.title}} </span> </li>
                <li class="list-group-item">Group : <span class="fw-bolder"> {{groupName}} </span> </li>
            </ul>
        </div>
    </div>
</div>